* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #7f6b6b;
  
}
header h1 {
  color: #d9d9d9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 8px;
}
header {
  display: flex;
  background-color: #333;
  align-items: center;
  gap: 10%;
  width: 100%;
}
.searchbar {
  height: 100%;
  width: 50%;
}
input {
  justify-self: center;
  border: solid 3px #7f6b6b;
  border-radius: 7px;
  width: 100%;
}
input:hover {
  border: solid 3px blue;
}
input:active {
  border: solid 3px blue;
}
.nav {
  background-color: #3c0606;
  display: flex;
  justify-content: right;
  gap: 10px;
}
.nav a {
  padding: 4px;
  background-color: antiquewhite;
  border-radius: 4px;
  margin: 8px;
  text-decoration: none;
  color: black;
}
.nav a:active {
  background-color: white;
}
.nav a:hover {
  background-color: white;
}

.site-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.itemContainer {
  margin: 20px;
  background-color: #d9d9d9;
  width: 420px;
  height: fit-content;
  flex-shrink: 0;
  border-radius: 17px;
  padding: 5px;
  justify-content: center;
}

.itemCard {
    transition: 0.3s;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemCard:active {
    box-shadow: #333;
    
}

.image-container {
    justify-content: center;
}

img {
  max-width: 400px;
  width: 380px;
  height: 190px;
  flex-shrink: 0;
  border-radius: 12px;
  margin: 18px 0 10px 0;
}
.text-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  border-bottom: solid 0.5px #7f6b6b;
  justify-content: left;
  gap: 20px;
  padding: 10px;
  width: 90%;
}
.action {
  width:calc(100% - 40px);
  justify-content: left;
  padding: 10px;
}
.action > button {
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  background-color: #3c0606;
  color: #d9d9d9;
  border: none;
}

.itemDescription {
    word-wrap: break-all;
    font-weight: bold;
}

.itemDescriptionExcerse {
    word-wrap: break-all;
}
